<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the EventDriven Project</h1>
        <a href="{% url 'app1_home' %}" class="btn btn-primary">Go to App 1</a>
        <a href="{% url 'app2_home' %}" class="btn btn-secondary">Go to App 2</a>
    </div>
</body>
</html>
